.zombie {
    height: 20px;
    width: 20px;
    border: white 1px solid;
    left: 0px;
    position: fixed;
    bottom: 400px;
    
    
}
.container{
    height: 100%;
}

img {
    height: 400px;
}