#level{
    font-family: "Metal Mania", cursive;
    font-size: 80px;
    color:rgb(189, 7, 7);
    border-radius: 25px;
    border: solid rgb(189, 7, 7) 5px;
    padding: 10px;
    margin-top: 20%;
}